on:
  # Trigger the workflow on pull request
  pull_request:
    branches:
      - main
      - master
      - develop
  workflow_dispatch:
    inputs:
      description:
        description: Why are you dispatching this action
        required: false
        default: Tests

env:
  APIFY_TEST_USER_ID: ${{ secrets.APIFY_TEST_USER_ID }}
  APIFY_TEST_TOKEN: ${{ secrets.APIFY_TEST_TOKEN }}

jobs:
  run tests:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - run: npm install
      - run: npm test
